.container{
    height: 400px;
    width: 700px;
    background-color: rgb(68, 64, 64);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr 1fr 1fr 2fr;
    gap: 11px;
    border: 15px rgb(68, 64, 64) solid;
}

.first{
    background-color: red;
    grid-row: 1/3;
    grid-column: 1/2;
}

.second{
    background-color: white;
    grid-row: 3/5;
    grid-column: 1/2;
}

.third{
    background-color: rgb(55, 183, 238);
    grid-row: 1/2;
    grid-column: 2/4;
}

.forth{
    background-color: rgb(239, 200, 127);
    grid-row: 1/2;
    grid-column: 4/6;
}

.fifth{
    background-color: rgb(239, 200, 127);
    grid-row: 2/4;
    grid-column: 2/3;
}

.sixth{
    background-color: white;
    grid-row: 2/4;
    grid-column: 3/5;
}

.seventh{
    background-color: red;
    grid-row: 2/5;
    grid-column: 5/6;
}

.eighth{
    background-color: red;
    grid-row: 4/5;
    grid-column: 2/4;
}

.ninth{
    background-color: rgb(55, 183, 238);
    grid-row: 4/5;
    grid-column: 4/5;
}